body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, 0.649);

}
h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Navigation bar */
.navbar {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    flex: 1;
    margin-left: 15px;
    color: lightblue;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    display: flex; 
    align-items: center; 
}

.navbar-menu ul li {
    display: inline;
    margin-left: 10px; 
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.basics {
    flex: 1;
}

.navbar-menu ul .basics li a:hover {
    background-color: #555;
}

.navbar-menu .login-button {
    margin-left: 60px;
    background-color: #4caf4fc3;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.navbar-menu .signup-button {
    background-color: #4caf4fc3;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.navbar-menu .login-button:hover {
    background-color: #48ac43;
}

.navbar-menu .signup-button:hover {
    background-color: #48ac43;
}

/* Dropdown menu */
.navbar-menu ul .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-menu ul .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-menu ul .dropdown .dropdown-menu li {
    color: white;
    padding: 16px 5px;
    display: block;
    font-size: 15px;
}

.navbar-menu ul .dropdown:hover .dropdown-menu {
    display: block;
}
/* End of dropdown menu */
/* End of navigation bar */

/* Contact.php */
.contact_container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 45px;
    color: black;
}

p {
    color: #666;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.success {
    color: green;
    font-style: italic;
}

.error {
    color: red;
    font-style: italic;
}
/* End of Contact.php */

/* about.php */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-container h2 {
    margin-bottom: 20px;
}

/* Author styles */
.author {
    display: flex;
    margin-bottom: 20px;
}

.author img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-info {
    flex: 1;
}

.author-info h3 {
    margin-top: 0;
}

/* About paragraph styles */
.about-paragraph1 {
    margin-top: 0;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 30px;

}

.about-paragraph2 {
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
}

/* Responsive styles */
@media (max-width: 768px) {
    .author {
        display: inline-flex;
        align-items: center;
    }

    .author img {
        margin-right: 10px;
        margin-bottom: 0;
    }
}
/* End of about.php */