/* ================== Variables ================== */
:root{
    --bg-color: #fff;
    --primary-color: #000000;
    --second-color: #196FE0;
    --hover-bg-color: #efefef;
    --shadow-1: 0px 2px 10px rgba(0, 0, 0, 0.3);
    --shadow-2: 0px 2px 10px rgba(26, 112, 224, 0.4);
}

/* ================== Global Styles ================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-image: url("http://localhost/Mini-PHP-Project/carya.tn/Resources/wallpaper-login2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

ul{
    list-style-type: none;
}

/* ------------------ Navigation bar ------------------*/
.navbar {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    flex: 1;
    margin-left: 15px;
    color: lightblue;
    font-size: 24px;
    text-decoration: none;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    display: flex; 
    align-items: center; 
}

.navbar-menu ul li {
    display: inline;
    margin-left: 10px; 
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.basics {
    flex: 1;
}

.navbar-menu .navbar-link {
    position: relative;
    text-decoration: none;
}
.navbar-menu .navbar-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.navbar-menu .navbar-link:hover::after {
    width: 100%;
}

/* Dropdown menu */
.navbar-menu ul .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-menu ul .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-menu ul .dropdown .dropdown-menu li {
    color: white;
    padding: 16px 5px;
    display: block;
    font-size: 15px;
}

.navbar-menu ul .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-menu .navbar-dropdown-link {
    position: relative;
    text-decoration: none;
}
.navbar-menu .navbar-dropdown-link::after {
    content: '';
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.navbar-menu .navbar-dropdown-link:hover::after {
    width: 100%;
}
/* End of dropdown menu */
/* ------------------ User Nav Bar ------------------*/
.nav-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    display: flex; 
    align-items: center; 
}
.nav-user ul li {
    display: inline;
    margin-left: 10px; 
}
.nav-user ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.nav-user .login-button {
    margin-left: 120px;
    background-color: #b88d21;
    border-radius: 5px;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
}
.nav-user .login-button:hover {
    background-color: #c9a23f;
}

.nav-user .profile-button {
    position: relative;
    color: black;
    text-decoration: none;
}
.nav-user .profile-button::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.nav-user .profile-button:hover::after {
    width: 100%;
}
/* End User Nav Bar */
/* End of navigation bar */


/* ---------------- Contact.php --------------------*/
.contact_container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

.contact_container h2 {
    margin-top: 0;
    font-size: 45px;
    color: black;
}

.contact_container form {
    margin-top: 20px;
}

.contact_container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact_container input[type="text"],
.contact_container input[type="email"],
.contact_container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact_container input:focus, .contact_container textarea:focus{
    box-shadow: none;
    border-color: #c89568;
}
.contact_container input[type="email"]::placeholder {
    color: rgba(170, 167, 167, 0.879);
}


.contact_container textarea {
    height: 100px;
}

.contact_container button[type="submit"] {
    background-color: #d48a48;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_container button[type="submit"]:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #d37828;
}

.success {
    color: rgba(37, 120, 37, 0.885);
    font-style: italic;
}

.error {
    color: rgba(181, 40, 40, 0.833);
    font-style: italic;
}


/* End of Contact.php */


/* -------------- about.php -----------------*/
.about-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 50px;
}

.about-container h2 {
    margin-bottom: 20px;
}

/* Author styles */
.author {
    display: flex;
    margin-bottom: 20px;
}

.author img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-info {
    flex: 1;
}

.author-info h3 {
    margin-top: 0;
}

/* About paragraph styles */
.about-paragraph1 {
    margin-top: 0;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 30px;

}

.about-paragraph2 {
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
}

/* Responsive styles */
@media (max-width: 768px) {
    .author {
        display: inline-flex;
        align-items: center;
    }

    .author img {
        margin-right: 10px;
        margin-bottom: 0;
    }
}
/* End of about.php */


/* -------------- login.php && signup.php -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0px 20px 30px 20px;
    height: 620px;
    width: 350px;
    border-radius: 30px;
    background-color: rgba(255, 220, 220, 0.406);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.box-register{
    position: absolute;
    width: 85%;
    right: -350px;
    transition: .5s ease-in-out;
}
.top-header{
    text-align: center;
    margin: 30px 0;
}
.top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.input-group{
     width: 100%;
    
}
.input-field{
    width: 100%;
    margin: 12px 0;
    position: relative;
}
.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}
.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}
.remember{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}
.remember label{
    margin-top: 11px;
}
.check{
    margin-right: 8px;
    width: 14px;
}
.radio-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.radio-buttons label{
    margin-top: 11px;
}
.input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #bc6202;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background:  #db3e00;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}
.forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}
.forgot a{
    text-decoration: none;
    color: #000;
}
.switch{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 25px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
    bottom: 0px;   
    left: 0px;
    width: 145px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}
.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.eye-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
i{
    position: absolute;
    color: #444444;
    cursor: pointer;
}
#eye,#eye-2{
    opacity: 1;
}
#eye-slash,#eye-slash-2{
    opacity: 0;}
@media only screen and (max-width: 576px){
    .box{
        margin: 0 5px;
    }
    #btn{
        position: absolute;
        width: 153px;
    }
}
/* End of login.php & signup */

/* ================================= Styles for the popup ====================================*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* Styles for the rent popup */
.popup-rent-container {
    all: unset;

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.popup-rent-container:hover {
    border: 3px solid #494646;
    transition: border-color 0.2s ease-in-out;
}
.popup-rent-container .popup-titles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-rent-container .popup-titles h2 {
    color: black; 
    font-size: 30px;
    font-weight: 600;
}
.popup-rent-container .car-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;

}
.popup-rent-container .car-details p {
    margin-bottom: 3px;
}
.popup-rent-container .sub-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup-rent-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

.popup-rent-container input[type="date"],
.popup-rent-container input[type="password"]{
    all: unset;

    background: white;
    width: 70%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.popup-rent-container input:focus{
    box-shadow: none;
    border-color: #c89568;
}
.popup-rent-container .label-container{
    display: flex;
    justify-content: center;
}
.popup-rent-container .label-container label{
    margin-top: 2px;
}

.popup-rent-container .submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-rent-container .submit-popup-button {
    background-color: #8f7641e0;
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup-rent-container .submit-popup-button:hover {
    background-color: #8f7641;
}


/* Styles for the add car popup */
.popup-add-container{
    all: unset;

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 0 15px 0 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    width: 330px;
}
.popup-add-container:hover {
    border: 3px solid #494646;
    transition: border-color 0.2s ease-in-out;
}
.popup-add-container .main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.popup-add-container .main-container .add-titles{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

}
.popup-add-container .main-container .add-titles h2{
    all: unset;

    color: black; 
    font-size: 30px;
    font-weight: 600;
}
.popup-add-container .main-container .form-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup-add-container .main-container .form-container .sub-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup-add-container .main-container .form-container label{
    width: 150px;
}

.popup-add-container .main-container .submit-add-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup-add-container .submit-popup-button {
    background-color: hsla(41, 38%, 41%, 0.878);
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup-add-container .submit-popup-button:hover {
    background-color: #8f7641;
}
.popup-add-container .custom-file-upload input[type="file"] {
    display: none;
}
.popup-add-container .sub-container1 {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup-add-container .upload-icon {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    width: 200px;
    text-align: center;
    background-color: #907741e0; 
    color: #fff; /* Adjust text color as needed */
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    transform: translate(-24px, 0);
}

.popup-add-container .upload-icon::before {
    content: '\f093'; /* Unicode for upload icon */
    font-family: FontAwesome; /* Font Awesome for the icon */
    margin-right: 5px; /* Adjust margin as needed */
}
.no-file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Styles for the update car popup */
.update {
    all: unset;

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 0 15px 0 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    width: 310px;
}
.update .sub-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
.update .sub-container label {
    width: 150px;
}
.update .file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.update .submit-popup-button {
    margin: auto;
}

.update .add-titles {
    margin-top: 10px;
    margin-bottom: 30px;
}
/* ==================================== End of Styles for the popup ====================================*/



/* ------------------ admin_dashboard.php ------------------*/
/* CSS for admin dashboard */

.user-info,
.car-image,
.car-info {
    cursor: pointer;
}

.user-info:hover,
.car-image:hover,
.car-info:hover {
    text-decoration: underline;
}

.admin-dashboard h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #333; /* Dark gray color */
}

.admin-dashboard h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.admin-dashboard section {
    margin: 20px auto;
    background-color: #ffffffce;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 1010px;
}

.admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
}

.admin-dashboard th, .admin-dashboard td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-dashboard th {
    background-color: #dd823ce4;
    color: #fff;
    backdrop-filter: blur(10px);
}

.admin-dashboard td {
    color: #555;
}

.admin-dashboard tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Light gray background for even rows */
}

.admin-dashboard th:first-child, .admin-dashboard td:first-child {
    padding-left: 20px;
}

.admin-dashboard th:last-child, .admin-dashboard td:last-child {
    padding-right: 20px;
}

/* Styling for buttons */
.admin-dashboard button {
    background-color: rgb(173, 100, 12);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-dashboard th button {
    width: 100%;
}

.admin-dashboard button:hover {
    background-color: rgba(202, 131, 45, 0.907);
}

.admin-dashboard td .ban-link{
    color: rgb(201, 28, 28);
    position: relative;
    text-decoration: none;
}

.admin-dashboard td .ban-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(201, 28, 28);
    transition: width 0.3s ease-in-out;
}

.admin-dashboard td .ban-link:hover::after {
    width: 100%;
}

.admin-dashboard td .unban-link{
    color: rgb(55, 94, 195);
    position: relative;
    text-decoration: none;
}

.admin-dashboard td .unban-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(55, 94, 195);
    transition: width 0.3s ease-in-out;
}

.admin-dashboard td .unban-link:hover::after {
    width: 100%;
}
/* Styling for popup */
.admin-dashboard .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 400px;
}

.admin-dashboard .popup-content {
    text-align: center;
}

.admin-dashboard .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    font-size: 20px;
    cursor: pointer;
}

.admin-dashboard .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.info-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
/* bch ki ticklicki el bara yetsaker el popup taa add wala update car */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* ------------------ End of admin_dashboard.php ------------------*/

/* ------------------ User_Profile.php ------------------*/
.profile-body .container{
    background-color: rgba(245, 245, 245, 0.843);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-body .form-control:focus {
    box-shadow: none;
    border-color: #c89568
}

.profile-body .profile-save-button {
    background: rgb(153, 120, 53);
    box-shadow: none;
    border: none
}

.profile-body .profile-save-button:hover {
    background: #ba9844ed
}


.profile-body .back:hover {
    color: #ba9844ed;
    cursor: pointer
}

.profile-body .labels {
    font-size: 11px
}
.profile-body .export{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-body .export-button{
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 16px;
    align-items: center;
    
}

.profile-body .export-button .fas{
    color: #000;
    text-decoration: none;
}

.profile-body .export-button .link{
    margin-left: 25px;
}
.profile-body .export-button .link:hover{
    color: black;
}
.profile-body .export-button:hover {
    transition: background 0.2s ease-in-out;
    text-decoration: none;
    background: #c89568;
    color: #fff;
    cursor: pointer;
    border: solid 1px #c89568
}

.profile-picture {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
}
/* ------------------ End of User_Profile.php ------------------*/



/* ------------------ homepage.php -------------------------*/

.home-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 50px;
    display: flex;
    flex-direction: column; /* Display children elements in a column */
}

.hero {
    display: flex;
    align-items: flex-start; /* Align items to the start (left side) */
}

.hero .text-content {
    margin-right: 200px; /* Add some space between text and image */
}

.hero h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
    text-align: left;
}

#home-image {
    height: 300px;
    width: 500px;   
}

.car-card {
    margin-top: 20px; /* Add margin to create space between text and button */
}

.btn {
    background-color: #ba9844ed;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

footer {    
    margin-top: 20px; /* Add margin to create space between text and footer */
}


.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    animation: fadeOut 6s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        display: none; /* Hide the message when animation ends */
    }
}

/* ------------------ rent_car.php ------------------*/
.rent-body .main-container {
    display: flex;
    margin: 0;
    padding: 0;
}
.rent-body .filter-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */

    padding: 20px 20px 10px 4px;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(5px);
}
.rent-body .cars-list {
    width: 80%;
    padding: 10px;
}

/* ============================ filter menu.php ======================== */
.rent-body .filter-menu .container{
    padding-left: 10px;
    padding-right: 0;
}
.rent-body .filter-menu .titles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.rent-body .filter-menu h2 {
    color: #eebf31ea;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}
.rent-body .filter-menu .sub-container{
    margin-bottom: 20px;
}

.rent-body .filter-menu h3 {
    color: #ac881c;
    font-size: 27px;
    font-weight: 300;
}
.rent-body .filter-menu input[type="checkbox"] {
    /* Hide the default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* custom checkbox appearance */
    width: 13px; /* Set the width of the checkbox */
    height: 13px; /* Set the height of the checkbox */
    border: 2px solid #000; /* Set the border color */
    background-color: rgb(56, 52, 52); /* Set the background color */
    border-radius: 3px; /* Add border-radius for rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add cursor pointer */
    margin-right: 10px;
}
.rent-body .filter-menu label{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.856);
}
.rent-body .filter-menu input[type="checkbox"]:checked {
    background-color: rgb(255, 215, 215);
}
.rent-body .filter-menu span, .rent-body .filter-menu p{
    color: rgba(255, 255, 255, 0.856);
    font-size: 15px;
}
.rent-body .filter-menu .price-range-slider {
    width: 60%;
    -webkit-appearance: none;
    appearance: none;
    height: 9px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.rent-body .filter-menu .price-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #8f7641e0;
    cursor: w-resize;
}
.rent-body .filter-menu .apply-button{
    background-color: #8f7641e0;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.rent-body .filter-menu .apply-button:hover {
    background-color: #8f7641;
}

/* ============================ fetch_cars.php ============================*/
.rent-body .cars-list .container{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.74);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.rent-body .cars-list .titles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.rent-body .cars-list .titles h2{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 600;
}
.rent-body .cars-list .car {
    width: 31%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.918);
    backdrop-filter: blur(10px);
}
.rent-body .cars-list .car:hover {
    border: 1px solid #636363;
    transition: border-color 0.2s ease-in-out;
}
.rent-body .cars-list .car img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 190px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.rent-body .cars-list .car p {
    margin-bottom: 0;
}
.rent-body .cars-list .car .rent-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rent-body .cars-list .car button {
    all: unset;
    padding: 2px 6px 2px 6px;
    background-color: rgba(0, 0, 0, 0.651);
    font-family: 'Poppins', sans-serif;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.rent-body .cars-list .car button:hover {
    background-color: rgba(58, 57, 57, 0.651);
    border: 2px solid #000;
    transition: border-color 0.2s ease-in-out;
}
/* ------------------ End of rent_car.php ------------------*/





/* --------------------------- Beginning of LISTING.php ---------------------------*/

.listing-body .main-container {
    display: flex;
    margin: 0;
    padding: 0;
}
.listing-body .filter-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */

    padding: 20px 20px 10px 4px;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(5px);
}
.listing-body .cars-list {
    width: 80%;
    padding: 10px;
}


/* ============================ filter menu.php ======================== */
.listing-body .filter-menu .container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 0;
}
.listing-body .filter-menu .titles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.listing-body .filter-menu h2 {
    color: #eebf31ea;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}
.listing-body .filter-menu .sub-container{
    margin-bottom: 20px;
}

.listing-body .filter-menu h3 {
    color: #ac881c;
    font-size: 27px;
    font-weight: 300;
}
.listing-body .filter-menu input[type="checkbox"] {
    /* Hide the default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* custom checkbox appearance */
    width: 13px; /* Set the width of the checkbox */
    height: 13px; /* Set the height of the checkbox */
    border: 2px solid #000; /* Set the border color */
    background-color: rgb(56, 52, 52); /* Set the background color */
    border-radius: 3px; /* Add border-radius for rounded corners */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add cursor pointer */
    margin-right: 10px;
}
.listing-body .filter-menu label{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.856);
}
.listing-body .filter-menu input[type="checkbox"]:checked {
    background-color: rgb(255, 215, 215);
}
.listing-body .filter-menu span, .listing-body .filter-menu p{
    color: rgba(255, 255, 255, 0.856);
    font-size: 15px;
}
.listing-body .filter-menu .price-range-slider {
    width: 60%;
    -webkit-appearance: none;
    appearance: none;
    height: 9px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.listing-body .filter-menu .price-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #8f7641e0;
    cursor: w-resize;
}
.listing-body .filter-menu .apply-button{
    background-color: #8f7641e0;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.listing-body .filter-menu .apply-button:hover {
    background-color: #8f7641;
}
/* --------------- end of filter_menu.php ----------------*/

/* ====================my_cars_listing.php ====================*/
.listing-body .cars-list .container{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.74);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.listing-body .cars-list .header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 10px;
}
.listing-body .cars-list .header-container h2{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 600;
    transform: translateX(40px);
}
.listing-body .cars-list .header-container button {
    position: relative;
    background-color: rgb(173, 100, 12);
    color: #fff;
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
    transform: translateX(210px);
}
.listing-body .cars-list .header-container button:hover {
    background-color: rgba(202, 131, 45, 0.907);
}
.listing-body .cars-list .car-listing-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(2px);
    padding: 10px 14px 10px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid transparent;
}
.listing-body .cars-list .car-listing-container:hover {
    border: 2px solid #333131;
    transition: border-color 0.2s ease-in-out;
}
.listing-body .cars-list .car-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listing-body .cars-list .car-image img {
    border-radius: 10px;
    margin-right: 20px;
    width: 285px;
    height: 190px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.listing-body .cars-list .car-details{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.listing-body .cars-list .car-details h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0
}
.listing-body .cars-list .car-details .car-model{
    font-size: 20px;
    color: rgb(133, 132, 132);
    margin-bottom: 30px;
}
.listing-body .cars-list .car-details p:not(.car-model) {
    margin: 2px;
}
.listing-body .cars-list .car-details .paragraphs{
    margin-bottom: 10px;
}
.listing-body .cars-list .car-details .mini-title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.listing-body .cars-list .action-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 30%;
}
.listing-body .cars-list .action-buttons button {
    all: unset;

    padding: 4px 10px 4px 10px;
    background-color: rgb(179, 133, 48);
    font-family: 'Poppins', sans-serif;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
}
.listing-body .cars-list .action-buttons button:hover{
    background-color: rgb(206, 158, 70);
    border: 2px solid rgb(158, 112, 26);
    transition: border-color 0.2s ease-in-out;
}


.display {
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: 100px;
    left: 100px;
}